.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  max-height: 250px;
  flex: 1;
  justify-content: center;  
  margin: 20px;
  
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-name {
  display: flex;
  flex-direction: column;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
  margin: 0 auto;
}

.fighter-health,
.fighter-attack,
.fighter-defense {
  display: flex;
  flex-direction: column;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 22px;
  font-family: 'Arial Black';
  font-weight: 700;
  margin: 0 auto;
}

.winner-preview{
  display: flex;
  margin: 0 auto;
  background: #c3ffa7;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
